<include file="Common:header" />
<title>关于我-个人博客</title>
<meta name="keywords" content="个人博客" />
<meta name="description" content="" />
<link rel="stylesheet" href="__PUBLIC__/Css/right.css"/>
<link rel="stylesheet" href="__PUBLIC__/Css/style.css"/>
<link rel="stylesheet" href="__PUBLIC__/Css/nav.css"/>
<script type="text/javascript" src="__PUBLIC__/Js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/nav.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/bottom.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/jNotify.jquery.js"></script>
<script charset="utf-8" src="__PUBLIC__/kindeditor/kindeditor-min.js"></script>
<script charset="utf-8" src="__PUBLIC__/kindeditor/lang/zh_CN.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/slide.js"></script>

<include file="Common:nav"/>
       <!--nav end-->
    <!--content start-->
    <div id="content">
       <!--left-->
         <div class="fleft" id="about_me">
           <div class="weizi">
           <div class="wz_text">当前位置：<a href="#">首页</a>><h1>关于我</h1></div>
           </div>
             <div class="ck-slide">
                 <ul class="ck-slide-wrapper">
                     <li>
                         <a href="javascript:"><img src="__PUBLIC__/Images/aboutme/1.jpg" alt=""></a>
                     </li>
                     <li style="display:none">
                         <a href="javascript:"><img src="__PUBLIC__/Images/aboutme/2.jpg" alt=""></a>
                     </li>
                     <li style="display:none">
                         <a href="javascript:"><img src="__PUBLIC__/Images/aboutme/3.jpg" alt=""></a>
                     </li>
                     <li style="display:none">
                         <a href="javascript:"><img src="__PUBLIC__/Images/aboutme/4.jpg" alt=""></a>
                     </li>
                     <li style="display:none">
                         <a href="javascript:"><img src="__PUBLIC__/Images/aboutme/5.jpg" alt=""></a>
                     </li>
                 </ul>
                 <a href="javascript:;" class="ctrl-slide ck-prev">上一张</a> <a href="javascript:;" class="ctrl-slide ck-next">下一张</a>
                 <div class="ck-slidebox">
                     <div class="slideWrap">
                         <ul class="dot-wrap">
                             <li class="current"><em>1</em></li>
                             <li><em>2</em></li>
                             <li><em>3</em></li>
                             <li><em>4</em></li>
                             <li><em>5</em></li>
                         </ul>
                     </div>
                 </div>
             </div>

             <div class="about_content">
             博主是一个草根站长，喜欢研究web前端技术和SEO技术。
           </div>
         </div>
         <!--end left -->
         <!--right-->
        <include file="Common:right" />
         <!--end  right-->
         <div class="clear"></div>
         
    </div>
<script type="text/javascript">
    $('.ck-slide').ckSlide({
        autoPlay: true,
    });
</script>
    <!--content end-->
    <!--footer-->
<include file="Common:foot" />
