<include file="Common:header" />
<title>浅谈：html5和html的区别-个人博客</title>
<meta name="keywords" content="个人博客" />
<meta name="description" content="" />
<link rel="stylesheet" href="__PUBLIC__/Css/nav.css"/>
<!--<link rel="stylesheet" href="__PUBLIC__/Css/article.css"/>-->
<link rel="stylesheet" href="__PUBLIC__/Css/style.css"/>
<link rel="stylesheet" href="__PUBLIC__/Css/right.css"/>
<!--<script type="text/javascript" src="js/jquery1.42.min.js"></script>-->
<!--<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>-->
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<![endif]-->
<include file="Common:nav" />
       <!--nav end-->
    <!--content start-->
    <div id="content">
       <!--left-->
         <div class="fleft" id="news">
           <div class="weizi">
           <div class="wz_text">当前位置：<a href="#">首页</a>><a href="#">{$article.gname}</a>><span>文章内容</span></div>
           </div>
           <div class="news_content">
                  <div class="news_top">
                    <h1>{$article.title}</h1>
                    <p>
                      <span class="left sj">{$article.time|time_format=###}</span>
                      <span class="left author">{$article.username}</span>
                    </p>
                    <div class="clear"></div>
                  </div>
                    <div class="news_text">{$article.content|htmlspecialchars_decode=###}</div>
           </div>
              <!--操作-->
             <div class="wb_tool">
                 <!--发布时间-->
                 <span class="send_time">{$article.time}</span>
                 <ul>
                     <if condition='isset($_SESSION["uid"]) && $_SESSION["uid"] eq $article["uid"]'>
                         <li><span class="del-weibo hidden" wid="{$article.id}">删除</span></li>
                         <li class="del-weibo hidden">|</li>
                     </if>
                     <li><span class='turn' id='{$article.id}'>转发<if condition='$article["turn"]'>({$article.turn})</if></span></li>
                     <li>|</li>
                     <li class="keep-wrap">
                         <span class='keep'>收藏<if condition='$article["keep"]'>({$article.keep})</if></span>
                         <div class="keep-up hidden"></div>
                     </li>
                     <li>|</li>
                     <li><span class='comment' wid='{$article.id}'>评论<if condition='$article["comment"]'>({$article.comment})</if></span></li>
                 </ul>
             </div>
             <div class='comment_load  '>
                 <img src="__PUBLIC__/Images/loading.gif">评论加载中，请稍候...
             </div>
             <div class='comment_list'>
                 <textarea name="" sign='comment{$key}'></textarea>
                 <ul>
                     <li class='phiz fleft' sign='comment{$key}'></li>
                     <li class='comment_turn fleft'>
                         <label>
                             <input type="checkbox" name=''/>同时转发到我的微博
                         </label>
                     </li>
                     <li class='comment_btn fright' wid='{$v.id}' uid='{$v.uid}'>评论</li>
                 </ul>
             </div>
         </div>
        <!--=====回复框=====-->
         <!--end left -->
         <!--right-->
         <include file="Common:right" />
         <!--end  right-->
         <div class="clear"></div>
    </div>
    <!--content end-->
    <!--footer-->
   <include file="Common:foot" />
    <!--footer end-->


