<div class="right" id="c_right">
    <div class="s_about">
        <userinfo id="session('account_id')">
            <h2>关于博主</h2>
            <img src="<if condition='$face'>__ROOT__/{$face}<else/>__PUBLIC__/Images/noface.gif</if>" width="230" height="230" alt="博主"/>
            <p>博主：{$username}</p>
            <p>职业：{$profession}</p>
            <p>简介：{$intro}</p>
            <p class="qq">
                <a href="#" title="联系博主"><span class="left b_1"></span></a><a href="#" title="加入QQ群，一起学习！"><span class="left b_2"></span></a>
            <div class="clear"></div>
            </p>
            <ul class='num_list'>
                <li><a href="javascript:;"><strong>{$follow}</strong><span>关注</span></a></li>
                <li><a href="javascript:;"><strong>{$fans}</strong><span>粉丝</span></a></li>
                <li class='noborder'><a href="javascript:;"><strong>{$article}</strong><span>文章</span></a></li>
            </ul>
        </userinfo>
    </div>
    <!--栏目分类-->
    <div class="lanmubox">
        <script type="text/javascript">
            var getArticle="{:U('Common/getArticle')}";
        </script>
        <div class="hd">
            <ul><li class="on" theme="hot" uid="{$_SESSION['account_id']}">精心推荐</li><li theme="new" uid="{$_SESSION['account_id']}">最新文章</li><li class="hd_3" theme="suiji" uid="{$_SESSION['account_id']}">随机文章</li></ul>
        </div>
        <div class="bd">
            <ul></ul>
        </div>
    </div>
    <!--end-->
    <!--最近访客-->
    <div class="visitor">
        <php>$visitors=M('visitors')->where(array('wt_visitors.uid' => session('account_id'),'wt_visitors.aid' => 0))->field('wt_userinfo.face60,wt_userinfo.username,wt_visitors.visitor,wt_visitors.time')->join('LEFT JOIN wt_userinfo ON wt_userinfo.uid=wt_visitors.visitor')->limit(6)->select();</php>
        <h4>最近访客</h4>
        <ul>
            <foreach name="visitors" item="v">
            <li><img src="<if condition='$v[face60]'>__ROOT__/{$v.face60}<else/>__PUBLIC__/Images/noface.gif</if>" width="50" height="50" /><p><if condition='count($v["username"]) gt 4'>{$v.username|substr=###,4}....<else/>{$v.username}</if></p><p>{$v.time|time_format1=###}</p> </li>
            </foreach>
        </ul>
    </div>
    <div class="link">
        <h4>友情链接</h4>
    </div>

</div>