<div id="footer" alog-group="log-footer">
    <div class="foot">
        <div class="site-info"> ©&nbsp; 2017-2019 <a href="">{$Think.config.WEBNAME}博客</a>&nbsp;</div>
        <div class="auth">设计---王涛&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;个人练习作品!&nbsp;</div>
    </div>
</div>
<!--footer end-->
<!--<script type="text/javascript">jQuery(".lanmubox").slide({easing:"easeOutBounce",delayTime:400});</script>-->
<!--<script  type="text/javascript" src="js/nav.js"></script>-->
<!--==========表情选择框==========-->
<div id="phiz" class='hidden'>
    <div>
        <p>常用表情</p>
        <span class='close fright'></span>
    </div>
    <ul>
        <li><img src="__PUBLIC__/Images/phiz/hehe.gif" alt="呵呵" title="呵呵" /></li>
        <li><img src="__PUBLIC__/Images/phiz/xixi.gif" alt="嘻嘻" title="嘻嘻" /></li>
        <li><img src="__PUBLIC__/Images/phiz/haha.gif" alt="哈哈" title="哈哈" /></li>
        <li><img src="__PUBLIC__/Images/phiz/keai.gif" alt="可爱" title="可爱" /></li>
        <li><img src="__PUBLIC__/Images/phiz/kelian.gif" alt="可怜" title="可怜" /></li>
        <li><img src="__PUBLIC__/Images/phiz/wabisi.gif" alt="挖鼻屎" title="挖鼻屎" /></li>
        <li><img src="__PUBLIC__/Images/phiz/chijing.gif" alt="吃惊" title="吃惊" /></li>
        <li><img src="__PUBLIC__/Images/phiz/haixiu.gif" alt="害羞" title="害羞" /></li>
        <li><img src="__PUBLIC__/Images/phiz/jiyan.gif" alt="挤眼" title="挤眼" /></li>
        <li><img src="__PUBLIC__/Images/phiz/bizui.gif" alt="闭嘴" title="闭嘴" /></li>
        <li><img src="__PUBLIC__/Images/phiz/bishi.gif" alt="鄙视" title="鄙视" /></li>
        <li><img src="__PUBLIC__/Images/phiz/aini.gif" alt="爱你" title="爱你" /></li>
        <li><img src="__PUBLIC__/Images/phiz/lei.gif" alt="泪" title="泪" /></li>
        <li><img src="__PUBLIC__/Images/phiz/touxiao.gif" alt="偷笑" title="偷笑" /></li>
        <li><img src="__PUBLIC__/Images/phiz/qinqin.gif" alt="亲亲" title="亲亲" /></li>
        <li><img src="__PUBLIC__/Images/phiz/shengbin.gif" alt="生病" title="生病" /></li>
        <li><img src="__PUBLIC__/Images/phiz/taikaixin.gif" alt="太开心" title="太开心" /></li>
        <li><img src="__PUBLIC__/Images/phiz/ldln.gif" alt="懒得理你" title="懒得理你" /></li>
        <li><img src="__PUBLIC__/Images/phiz/youhenhen.gif" alt="右哼哼" title="右哼哼" /></li>
        <li><img src="__PUBLIC__/Images/phiz/zuohenhen.gif" alt="左哼哼" title="左哼哼" /></li>
        <li><img src="__PUBLIC__/Images/phiz/xiu.gif" alt="嘘" title="嘘" /></li>
        <li><img src="__PUBLIC__/Images/phiz/shuai.gif" alt="衰" title="衰" /></li>
        <li><img src="__PUBLIC__/Images/phiz/weiqu.gif" alt="委屈" title="委屈" /></li>
        <li><img src="__PUBLIC__/Images/phiz/tu.gif" alt="吐" title="吐" /></li>
        <li><img src="__PUBLIC__/Images/phiz/dahaqian.gif" alt="打哈欠" title="打哈欠" /></li>
        <li><img src="__PUBLIC__/Images/phiz/baobao.gif" alt="抱抱" title="抱抱" /></li>
        <li><img src="__PUBLIC__/Images/phiz/nu.gif" alt="怒" title="怒" /></li>
        <li><img src="__PUBLIC__/Images/phiz/yiwen.gif" alt="疑问" title="疑问" /></li>
        <li><img src="__PUBLIC__/Images/phiz/canzui.gif" alt="馋嘴" title="馋嘴" /></li>
        <li><img src="__PUBLIC__/Images/phiz/baibai.gif" alt="拜拜" title="拜拜" /></li>
        <li><img src="__PUBLIC__/Images/phiz/sikao.gif" alt="思考" title="思考" /></li>
        <li><img src="__PUBLIC__/Images/phiz/han.gif" alt="汗" title="汗" /></li>
        <li><img src="__PUBLIC__/Images/phiz/kun.gif" alt="困" title="困" /></li>
        <li><img src="__PUBLIC__/Images/phiz/shuijiao.gif" alt="睡觉" title="睡觉" /></li>
        <li><img src="__PUBLIC__/Images/phiz/qian.gif" alt="钱" title="钱" /></li>
        <li><img src="__PUBLIC__/Images/phiz/shiwang.gif" alt="失望" title="失望" /></li>
        <li><img src="__PUBLIC__/Images/phiz/ku.gif" alt="酷" title="酷" /></li>
        <li><img src="__PUBLIC__/Images/phiz/huaxin.gif" alt="花心" title="花心" /></li>
        <li><img src="__PUBLIC__/Images/phiz/heng.gif" alt="哼" title="哼" /></li>
        <li><img src="__PUBLIC__/Images/phiz/guzhang.gif" alt="鼓掌" title="鼓掌" /></li>
        <li><img src="__PUBLIC__/Images/phiz/yun.gif" alt="晕" title="晕" /></li>
        <li><img src="__PUBLIC__/Images/phiz/beishuang.gif" alt="悲伤" title="悲伤" /></li>
        <li><img src="__PUBLIC__/Images/phiz/zuakuang.gif" alt="抓狂" title="抓狂" /></li>
        <li><img src="__PUBLIC__/Images/phiz/heixian.gif" alt="黑线" title="黑线" /></li>
        <li><img src="__PUBLIC__/Images/phiz/yinxian.gif" alt="阴险" title="阴险" /></li>
        <li><img src="__PUBLIC__/Images/phiz/numa.gif" alt="怒骂" title="怒骂" /></li>
        <li><img src="__PUBLIC__/Images/phiz/xin.gif" alt="心" title="心" /></li>
        <li><img src="__PUBLIC__/Images/phiz/shuangxin.gif" alt="伤心" title="伤心" /></li>
    </ul>
</div>
<!--==========表情==========-->
<!--===========文章发布框=========---->
<div id="subArticle">
    <div id="dialog_head">
            <h3>文章发布</h3>
            <button id="dialog_button" title="关闭" class="close"></button>
        </div>
    <div class="container">
        <form name="Arform" method="post" action="{:U('User/saveArticle')}">
            <table width="100%" border="0" align="center" cellpadding="3" cellspacing="1" class="mtabs">

                    <tr>
                        <td width="17%" align="right" bgcolor="#FFFFFF">文章标题：</td>
                        <td width="83%" bgcolor="#FFFFFF">&nbsp;<input name="title" type="text" size="60" /> <span class="f00">*必填</span></td>
                    </tr>
                    <tr>
                        <td align="right" bgcolor="#FFFFFF">文章出处：</td>
                        <td bgcolor="#FFFFFF">&nbsp;<input type="text" name="isturn" size="40" /> <span class="f00">*原创代表授权本站勿改动。如非原创，请联系课程主办方来发布</span></td>
                    </tr>
                    <tr>
                        <td align="right" bgcolor="#FFFFFF">所属分类：</td>
                        <?php $gnames=M('agroup')->where(array('uid' => session('uid')))->select();?>
                        <td bgcolor="#FFFFFF">&nbsp;
                            <select name="gid">
                                <foreach name="gnames" item="v">
                                <option value="{$v.id}"  style='background:#f7f7f7;color:#999999;'>{$v.name}</option>
                                </foreach>
                            </select>
                        </td>
                        <td><input class="ain" type="text" name="gname" /></td>
                        <td><input type="button" class="add" value="添加分类"/></td>
                    </tr>
                    <tr>
                        <td align="right" bgcolor="#FFFFFF">文章内容：</td>
                        <td>
                            <textarea id="editor_content" name="content" style="width:800px;height:400px;visibility:hidden;"></textarea>
                        </td>
                    </tr>
                    </tr>
                    <tr></tr>
                    <tr class="submit">
                        <td><input type="submit" name="Submit" value="发布" id="sub" /></td>
                    </tr>
            </table>
        </form>
        <div class="setEditor">
        <input type="button" name="getHtml" value="取得HTML" />
        <input type="button" name="isEmpty" value="判断是否为空" />
        <input type="button" name="getText" value="取得文本(包含img,embed)" />
        <input type="button" name="selectedHtml" value="取得选中HTML" />
        <input type="button" name="setHtml" value="设置HTML" />
        <input type="button" name="setText" value="设置文本" />
        <input type="button" name="insertHtml" value="插入HTML" />
        <input type="button" name="appendHtml" value="添加HTML" />
        <input type="button" name="clear" value="清空内容" />
        <input type="reset" name="reset" value="Reset" />
        </div>
    </div>
</div>

<!--修改文章类弹出框-->
<php>
    $agroups=M('agroup')->where(array('uid' => session('uid')))->select();
</php>
<div id="alter">
    <form action="{:U('User/alterAroup')}" method="post" name="form">
    <div class="alter-head">
        <span class='alter-text fleft'>修改类别</span>
    </div>
    <div class='alter-name'>
        选择:
       <select class="name">
           <foreach name="agroups" item="v">
           <option value="{$v.id}">{$v.name}</option>
           </foreach>
       </select>
    </div>
        <input class="aid" name="aid" type="hidden" />
        <input class="gid" name="gid" type="hidden" />
    <div class='alter-btn-wrap'>
        <input type="submit" class='alter-sure' value="确定" />
        <span class='alter-cencle'><a href="javascript:;">取消</a></span>
    </div>
    </form>
</div>
<!--文章转发框-->
<div id="turn">
        <div class="turn-head">
            <span class='turn-text fleft'>转发</span>
        </div>
        <div class='turn-name'>
            转发至:
            <select class="name">
                <foreach name="agroups" item="v">
                    <option value="{$v.id}">{$v.name}</option>
                </foreach>
            </select>
        </div>
        <div class='turn-btn-wrap'>
            <span class='turn-sure'><a href="javascript:;">确定</a></span>
            <span class='turn-cencle'><a href="javascript:;">取消</a></span>
        </div>
</div>

<!--[if IE 6]>
<script type="text/javascript" src="__PUBLIC__/Js/DD_belatedPNG_0.0.8a-min.js"></script>
<script type="text/javascript">
    DD_belatedPNG.fix('#top','background');
    DD_belatedPNG.fix('.logo','background');
    DD_belatedPNG.fix('#sech_text','background');
    DD_belatedPNG.fix('#sech_sub','background');
    DD_belatedPNG.fix('.send_title','background');
    DD_belatedPNG.fix('.icon','background');
    DD_belatedPNG.fix('.ta_right','background');
</script>
<![endif]-->
</body>
</html>
