/*相册*/
#content #album{width:1000px;height:auto;background-color:#fff;}
#album .album_head{width:100%;height:40px;margin-top:10px;padding:0 10px;}
#album .album_head ul li{height:37px;float:left;text-align: center;line-height: 37px;position: relative;}
#album .album_head ul li.sz-photo{width:128px;background-color:dodgerblue;border-radius: 5px;}
#album .album_head ul li.sz-photo a{color:#fff;font-size: 16px;}
#album .album_head ul li.sz-photo a .icon{width:15px;height:15px;cursor:pointer;background-position:250px -24px;position: absolute;left:10px;top:12px;}
#album .album_head ul li.create-album{border:1px lightgrey solid;width:90px;margin-left: 20px;}
#album .album_head ul li.set-album{border:1px lightgrey solid;width:90px;margin-left: 20px;}
#album .album_content1{width:100%;height:350px;}
#album .album_content1 .album_info{width:200px;margin: 0 auto;line-height: 350px;font-size: 16px;}
#album .album_content{width:100%;height:auto;overflow:hidden; margin-top:10px;padding:0 10px;}
#album .album_content ul li{width: 175px;height:206px;border: 1px #d3d3d3 solid;margin: 20px 8px;float:left;box-shadow: gainsboro 1px 1px 1px;}
#album .album_content ul li div.cover{width: 160px;height:150px;margin: 7px auto;position: relative;}
#album .album_content ul li div.name{width: 160px;height:38px;margin: 1px auto;line-height:38px;color: #565656;}
#album .album_content ul li .set{width:20px;height:20px;border:1px gainsboro solid;position:absolute;right:2px;top:4px;background-color: #fdfdfd;border-radius: 3px;z-index: 5;display: none;}
#album .album_content ul li .setclick{width:20px;height:20px;border:1px gainsboro solid;position:absolute;right:2px;top:4px;background-color: #fdfdfd;border-radius: 3px;z-index: 5;border-bottom: none;}
#album .album_content ul li .set_con{width:130px;height:140px;border:1px gainsboro solid;position:absolute;right:2px;top:22px;background-color: #fdfdfd;border-radius: 3px;z-index: 2;display: none;}
#album .album_content ul li .set_con div{width:100%;height:46px;line-height: 46px;position: relative;}
#album .album_content ul li .set_con div:hover{width:100%;height:46px;line-height: 46px;position: relative;background-color: #35b0ff;}
#album .album_content ul li .set_con div img{width:16px;height: 16px;margin-right:5px;top:16px;left:12px;position: absolute;}
#album .album_content ul li .set_con div p{width:90px;height: 100%;margin-left:39px;}
/*****创建相册弹出框*****/
#c-album {width:450px;height:230px;z-index:5;position:absolute;background:#fff;border:3px solid #9D9D9D;border-radius:4px;display:none;}
#c-album .album-head{width:450px;height:29px;background:#F6F6F6;border-bottom:1px solid #FF9B00;}
#c-album .album-head .album-text{display:block;width:300px;height:30px;line-height:30px;font-weight: bold;text-indent: 1em;cursor: move;}
#c-album .album-name {width: 390px;height: 36px;line-height: 36px;margin: 20px auto;background: #f9f9f9;text-align: center;border-radius: 2px;}
#c-album .album-name input{width: 245px;border:1px lightgrey solid;}
#c-album .album-depict{width: 330px;margin: 20px auto;background: #f9f9f9;}
#c-album .album-depict textarea{width: 245px;}
#c-album .album-btn-wrap {width: 445px;height: 36px;line-height: 36px;text-align:right;margin-bottom:10px;}
#c-album .album-btn-wrap span {display: inline-block;width: 58px;height: 22px;line-height: 22px;border: 1px solid #ccc;border-radius: 4px;text-align: center;cursor: pointer;margin-right: 10px;}
#c-album .album-btn-wrap .add-album {background: #F9AB00;color: #fff;font-weight: bold;border:1px solid #FF9B00;}
#c-album .album-btn-wrap .album-cencle {background: #f6f6f6;}
/*****编辑相册弹出框*****/
#edit-album {width:450px;height:230px;z-index:5;position:absolute;background:#fff;border:3px solid #9D9D9D;border-radius:4px;display:none;}
#edit-album .album-head{width:450px;height:29px;background:#F6F6F6;border-bottom:1px solid #FF9B00;}
#edit-album .album-head .album-text{display:block;width:300px;height:30px;line-height:30px;font-weight: bold;text-indent: 1em;cursor: move;}
#edit-album .album-name {width: 390px;height: 36px;line-height: 36px;margin: 20px auto;background: #f9f9f9;text-align: center;border-radius: 2px;}
#edit-album .album-name input{width: 245px;border:1px lightgrey solid;}
#edit-album .album-depict{width: 330px;margin: 20px auto;background: #f9f9f9;}
#edit-album .album-depict textarea{width: 245px;}
#edit-album .album-btn-wrap {width: 445px;height: 36px;line-height: 36px;text-align:right;margin-bottom:10px;}
#edit-album .album-btn-wrap span {display: inline-block;width: 34px;height: 22px;line-height: 22px;border: 1px solid #ccc;border-radius: 4px;text-align: center;cursor: pointer;margin-right: 10px;}
#edit-album .album-btn-wrap .save-album {background: #F9AB00;color: #fff;font-weight: bold;border:1px solid #FF9B00;}
#edit-album .album-btn-wrap .album-cencle {background: #f6f6f6;}