#bottom{width: 980px;height:auto;overflow: hidden;background: #FAFAFA;border:1px red solid;}
#bottom p{text-align:center;font-size:14px;color:#231C25;}
#bottom p a{color:#231C25;}
/**表情**/
#phiz{
    width:362px;
    height:auto;
    overflow: hidden;
    border: 2px solid #E1E1E1;
    background: #fff;
    cursor: default;
    position:absolute;
    z-index:4;
}
#phiz ul{
    width:362px;
    height:auto;
    overflow: hidden;
    cursor: default;
    padding: 0;
}
#phiz ul li{
    width:22px;
    height:22px;
    padding:4px 2px;
    _padding:0 2px;
    margin: 4px 2px;
    float: left;
}
#phiz ul li img{
    cursor: pointer;
}
#phiz div{
    width:362px;
    height:30px;
    border-bottom: 1px solid #E1E1E1;
    background:#FAFAFA;
}
#phiz div p{
    width:100px;
    height:30px;
    line-height:30px;
    float: left;
    font-weight: bold;
    color:#888888;
    text-indent: 1em;
}
/*文章发布框*/
#subArticle{width:1200px;height: 800px;overflow: hidden;margin:0 auto;background-color: #FFFFFF;border: 2px #bababa solid;border-radius: 10px;display: block;z-index: 5;position: absolute;display: none}
#subArticle #dialog_head{width:100%;height: 50px;background-color: #f1f1f1;border-bottom: 1px #b8fff5 solid;}
#subArticle #dialog_head h3{width:500px;height: 25px;margin-left: 10px;padding-top: 10px;}
#subArticle #dialog_head button{width:20px;height:20px;margin-right:15px;border:none;position: absolute;right:-14px;top:3px;}
#subArticle .container{position: relative;}
#subArticle .container tr{width:90%;height:45px;}
#subArticle .container tr td input{width:300px;height:30px;border:1px #e0e0e0 solid;}
#subArticle .container tr td input:hover{width:300px;height:30px;border:1px #35b0ff solid;}
#subArticle .container tr td input.ain{width:200px;height:30px;border:1px #e0e0e0 solid;position: absolute;left:420px;top:99px;}
#subArticle .container tr td input.ain:hover{width:200px;height:30px;border:1px #35b0ff solid;}
#subArticle .container tr td input.add{width:80px;height:32px;border:1px #e0e0e0 solid;position: absolute;left:631px;top:99px;border: none;}
#subArticle .container tr td input.add:hover{width:80px;height:32px;background-color: #0a8cd2;border: none;}
#subArticle .container tr td span{color:red;}
#subArticle .container tr.submit{position: absolute;left:491px;bottom:-85px;width:325px;}
#subArticle .container tr.submit input{width: 200px;height: 50px;font-size:18px;}
#subArticle .container tr.submit input:hover{width: 200px;height: 50px;background-color: #0a8cd2;font-size: 18px;color: #ececec;}
#subArticle .container .setEditor{position:absolute;width: 800px;height: 30px;left:212px;bottom: -3px;}


/*
*消息提示框样式
*/
/*****************/
/** jNotify CSS **/
/*****************/
#jNotify {
    position:absolute;
    background:#d8e6fc  url('../Images/msg/info.png') no-repeat 15px center;
    color:#35517c;
    border:1px solid #a7c3f0;
    padding:10px;
    padding-left:50px;
    margin:15px;
    z-index:9999;
    -moz-border-radius : 5px;
    border-radius:5px;
    -webkit-border-radius:5px;
}
#jNotify a {color:#35517c !important;text-decoration:none;}

/******************/
/** jSuccess CSS **/
/******************/
#jSuccess {
    position:absolute;
    background:#E6EFC2  url('../Images/msg/success.png') no-repeat 15px center;
    color:#264409;
    border:1px solid #C6D880;
    padding:10px;
    padding-left:50px;
    margin:15px;
    z-index:9999;
    -moz-border-radius : 5px;
    border-radius:5px;
    -webkit-border-radius:5px;
}
#jSuccess a {color:#264409 !important;text-decoration:none;}
/****************/
/** jError CSS **/
/****************/
#jError {
    position:absolute;
    background:#FBE3E4  url('../Images/msg/error.png') no-repeat 15px center;
    color:#8a1f11;
    border:1px solid #FBC2C4;
    padding:10px;
    padding-left:50px;
    margin:15px;
    z-index:9999;
    -moz-border-radius : 5px;
    border-radius:5px;
    -webkit-border-radius:5px;
}
#jError a {color:#8a1f11 !important;text-decoration:none;}

/** OVERLAY **/
#jOverlay {
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:9998
}
