@import "common.css";
/*header end*/
#content{width:1000px;margin:5px auto;height:auto;overflow: hidden;}
#c_left{width:658px; background:#fff;border-radius:1px;}
#c_left .s_tuijian{width:630px;height:68px;margin-left:10px;background:url("../Images/r_line.jpg") bottom left repeat-x;}
.s_tuijian h2{width:630px;height:37px;background:url("../Images/tj.png") no-repeat;padding:20px 0px 5px 60px;
color:#D242DF;font-size:18px;margin-left:5px;}
.s_tuijian h2 span{color:#3798A5;padding-left:3px;}
/*left end*/
/********************************中部**************************************/
/*****左侧*****/
#left{
    width:100px;
    height:auto;
    padding:20px 0;
    background:#EFF8FC;
    border-right: 2px solid #E2EEF4;
}
#left .left_nav{
    width:49px;
    height:auto;
}
#left .left_nav li{
    width:129px;
    height:38px;
    overflow: hidden;
    padding-left:10px;
}
#left .left_nav li a{
    display: block;
    height:38px;
    line-height:38px;
    _padding: 12px 0;
    width:129px;
    color:#888888;
    font-size: 14px;
}
#left .left_nav li a i{
    vertical-align: -4px;
}
#left .group{
    width:149px;
    height:auto;
    margin-top:30px;
}
#left .group fieldset{
    border:0;
    border-top:1px solid #D7EEFB;
    padding-left: 15px;
}
#left .group fieldset legend{
    padding:0 5px;
    color:#B8B7B7;
    font-weight: bold;
}
#left .group ul{
    margin:10px 0;
}
#left .group ul li{
    width:129px;
    height:38px;
    overflow: hidden;
    padding-left: 10px;
}
#left .group ul li a{
    display: block;
    height:38px;
    line-height:38px;
    _padding: 12px 0;
    width:129px;
    color:#888888;
    font-size: 13px;
}
#left .group ul li a i{
    vertical-align: -4px;
}
#create_group{
    display: block;
    width:80px;
    margin-left: 20px;
    font-size:12px;
    color:#2B96E1;
    cursor: pointer;
}
/*****创建分组弹出框*****/
#add-group {
    width: 300px;
    height: auto;
    overflow: hidden;
    z-index: 5;
    position: absolute;
    background:#fff;
    border:3px solid #9D9D9D;
    border-radius: 4px;
    display: none;
}
#add-group .group_head{
    width:300px;
    height:29px;
    background: #F6F6F6;
    border-bottom: 1px solid #FF9B00;
}
#add-group .group_head .group_text{
    display:block;
    width:300px;
    height:30px;
    line-height:30px;
    font-weight: bold;
    text-indent: 1em;
    cursor: move;
}
#add-group .group-name {
    width: 260px;
    height: 36px;
    line-height: 36px;
    margin: 20px auto;
    background: #f9f9f9;
    text-align: center;
    border-radius: 2px;
}
#add-group .gp-btn-wrap {
    width: 300px;
    height: 36px;
    line-height: 36px;
    text-align: right;
    margin-bottom: 10px;
}
#add-group .gp-btn-wrap span {
    display: inline-block;
    width: 58px;
    height: 22px;
    line-height: 22px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    margin-right: 10px;
}
#add-group .gp-btn-wrap .add-group-sub {
    background: #F9AB00;
    color: #fff;
    font-weight: bold;
    border:1px solid #FF9B00;
}
#add-group .gp-btn-wrap .group-cencle {
    background: #f6f6f6;
}
/*****中间*****/

/*!**发布**!*/
/*#middle{*/
    /*width:560px;*/
    /*padding:30px 20px;*/
    /*height:auto;*/
    /*overflow: hidden;*/
    /*background: #FAFAFA;*/
/*}*/
/*#middle .send_wrap{*/
    /*width:560px;*/
    /*height:auto;*/
    /*position:relative;*/
/*}*/
/*#middle .send_wrap .send_title{*/
    /*width:200px;*/
    /*height:22px;*/
    /*background: url(../Images/send_weibo.png) no-repeat;*/
/*}*/
/*#middle .send_wrap .send_prompt{*/
    /*width:360px;*/
    /*height:22px;*/
    /*line-height: 22px;*/
    /*text-align: right;*/
/*}*/
/*#middle .send_wrap .send_prompt span{*/
    /*color:#888888;*/
/*}*/
/*#send_num{*/
    /*font-family: Constantia,Georgia;*/
    /*font-size: 22px;*/
    /*font-style: italic;*/
    /*font-weight: 700;*/
/*}*/
/*#middle .send_wrap textarea{*/
    /*width:548px;*/
    /*height:75px;*/
    /*border:1px solid #ccc;*/
    /*border-radius: 3px;*/
    /*font-size: 14px;*/
    /*line-height: 18px;*/
    /*margin: 1px 0 0;*/
    /*overflow-x: hidden;*/
    /*overflow-y: auto;*/
    /*padding: 5px;*/
    /*word-wrap: break-word;*/
    /*resize:none;*/
    /*margin-top:15px;*/
/*}*/
/*#middle .send_wrap .ta_right{*/
    /*display:block;*/
    /*width:12px;*/
    /*width:12px;*/
    /*height:19px;*/
    /*background: url(../Images/send_weibo.png) no-repeat 0 -69px;*/
    /*position:absolute;*/
    /*top:60px;*/
    /*left:559px;*/
/*}*/
/*#middle .send_wrap .send_tool{*/
    /*height:30px;*/
    /*margin-top:5px;*/
/*}*/
/*#middle .send_wrap .send_tool ul{*/
    /*width:466px;*/
    /*height:23px;*/
    /*padding-top:7px;*/
/*}*/
/*#middle .send_wrap .send_tool ul li{*/
    /*float: left;*/
    /*margin-right:10px;*/
    /*position: relative;*/
/*}*/
/*#middle .send_wrap .send_tool #upload_img{*/
    /*width:300px;*/
    /*height:140px;*/
    /*border: 2px solid #E1E1E1;*/
    /*background: #fff;*/
    /*position: absolute;*/
    /*top:25px;*/
    /*left:0px;*/
/*}*/
/*#middle .send_wrap .send_tool #pic-show{*/
    /*border: 3px solid #CCC;*/
    /*border-radius: 4px;*/
    /*padding:5px;*/
    /*background: #fff;*/
    /*position: absolute;*/
    /*top:25px;*/
    /*left:0px;*/
/*}*/
/*#middle .send_wrap .send_tool #upload_img .upload-title{*/
    /*width:300px;*/
    /*height:30px;*/
    /*border-bottom: 1px solid #E1E1E1;*/
    /*background:#FAFAFA;*/
/*}*/
/*#middle .send_wrap .send_tool #upload_img .upload-title p{*/
    /*width:100px;*/
    /*height:30px;*/
    /*line-height:30px;*/
    /*float: left;*/
    /*font-weight: bold;*/
    /*color:#888888;*/
    /*text-indent: 1em;*/
/*}*/
/*#middle .send_wrap .send_tool #upload_img .upload-title span{*/
    /*display: block;*/
    /*width:16px;*/
    /*height:16px;*/
    /*background:url(../Images/icon.png) no-repeat -75px -200px;*/
    /*float: right;*/
    /*margin: 7px 5px;*/
    /*cursor: pointer;*/
/*}*/
/*#middle .send_wrap .send_tool #upload_img .upload-btn {*/
    /*padding-top: 20px;*/
/*}*/
/*#middle .send_wrap .send_tool #upload_img #SWFUpload_0,#picture-button {*/
    /*margin-left:85px;*/
/*}*/
/*#middle .send_wrap .send_tool .send_btn{*/
    /*width:82px;*/
    /*height:30px;*/
    /*border:0;*/
    /*background: url(../Images/send_weibo.png) no-repeat -50px -50px;*/
    /*cursor: pointer;*/
/*}*/
/**我的好友*/
.friend {
    width: 650px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}
.friend h3{text-indent: 25px;padding-bottom: 10px;border-bottom:1px #e2e2e2 solid;width: 100%;}
.friend .view_line{
    width:650px;
    height:30px;
    background:url(../Images/line.png) repeat-x 0 28px;
    margin-bottom: 20px;
}
.friend .view_line strong{
    display:inline-block;
    width:44px;
    height:30px;
    line-height:30px;
    text-align: center;
    background: url(../Images/line.png) no-repeat 0 -45px #FAFAFA;
    margin-left: 10px;
}
.friend ul {
    width : 650px;
    height: auto;
    overflow: hidden;
    margin: 5px auto;
}
.friend ul li {
    width: 630px;
    height: 79px;
    padding: 10px;
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 20px;
}
.friend ul li .list-left {
    width: 400px;
    height: 79px;
    float: left;
}
.friend ul li .list-left dt {
    width: 80px;
    height: 80px;
    float: left;
}
.friend ul li .list-left dd {
    width: 280px;
    height: 26px;
    line-height: 26px;
    padding: 0 20px;
    float: left;
}
.friend ul li .list-left dd span {
    padding-right: 10px;
}
.friend ul li .list-left dd .bd-l {
    border-left: 1px solid #ccc;
    padding-left: 5px;
}
.friend ul li .list-right {
    width: 170px;
    height: 59px;
    float: right;
    padding-top: 20px;
}
.friend ul li .list-right dt {
    width: 60px;
    height: 20px;
    line-height:20px;
    text-align: center;
    color: #444444;
    background: #FAFAFA;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    float: left;
    margin: 0 20px;
}
.friend ul li .list-right .add-fl {
    border: 1px solid #FF9B00;
    background: #FFB53F;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
.friend ul li .list-right dd {
    width: 30px;
    height: 20px;
    line-height: 20px;
    float: left;
    margin-left: 15px;
    cursor: pointer;
    color: #088CDB;
}
.friend .more{float: right;padding-right:30px;font-size: 20px;color: #00FFE4;}

/**展示**/
/*#middle .view_line{*/
    /*width:560px;*/
    /*height:30px;*/
    /*background:url(../Images/line.png) repeat-x 0 28px;*/
    /*margin-bottom: 20px;*/
/*}*/
/*#middle .view_line strong{*/
    /*display:inline-block;*/
    /*width:44px;*/
    /*height:30px;*/
    /*line-height:30px;*/
    /*text-align: center;*/
    /*background: url(../Images/line.png) no-repeat 0 -45px #FAFAFA;*/
    /*margin-left: 10px;*/
/*}*/
/*#c_left .content_text .wz dl{*/
    /*width:560px;*/
    /*height:auto;*/
    /*overflow: hidden;*/
    /*border-bottom:1px solid #E6E6E6;*/
    /*padding:20px 0;*/
/*}*/
/*#c_left .content_text .wz dl .face{*/
    /*width:50px;*/
    /*height:50px;*/
    /*float:left;*/
/*}*/
/*#c_left .content_text .wz dl .face img{*/
    /*border-radius: 5px;*/
/*}*/
/*#c_left .content_text .wz dl .wb_cons{*/
    /*float: right;*/
    /*width:490px;*/
/*}*/
/*#c_left .content_text .wz dl dl .wb_name{*/
    /*width:490px;*/
    /*height:20px;*/
/*}*/
/*#c_left .content_text .wz dl dl dt a{*/
    /*color:#333333;*/
    /*font-weight: bold;*/
/*}*/
/*#c_left .content_text .wz dl dl dt a:hover{*/
    /*color:#2B96E1;*/
/*}*/
/*#c_left .content_text .wz dl .content p{*/
    /*width:490px;*/
    /*line-height: 24px;*/
    /*height:auto;*/
    /*word-wrap: break-word;*/
/*}*/
/*#c_left .content_text .wz dl .wb_img{*/
    /*width:490px;*/
    /*height:auto;*/
    /*margin:10px 0;*/
/*}*/
/*#c_left .content_text .wz dl .wb_img .mini_img{*/
    /*cursor: url(../Images/big.cur), auto !important;*/
/*}*/
/*#c_left .content_text .wz dl .wb_img .img_tool{*/
    /*width:448px;*/
    /*height:auto;*/
    /*border:1px solid #D7EEFB;*/
    /*border-radius: 3px;*/
    /*padding:10px 20px;*/
/*}*/
/*#c_left .content_text .wz dl .wb_img .img_tool ul li{*/
    /*padding:5px;*/
    /*float: left;*/
/*}*/
/*#c_left .content_text .wz dl .wb_img .img_tool ul li .packup{*/
    /*color:#2B96E1;*/
    /*cursor: pointer;*/
/*}*/
/*#c_left .content_text .wz dl .wb_img .img_tool ul li a{*/
    /*color:#2B96E1;*/
/*}*/
/*#c_left .content_text .wz dl .wb_img .img_info{*/
    /*width:448px;*/
    /*height:auto;*/
    /*overflow: hidden;*/
/*}*/
/*#c_left .content_text .wz dl .wb_img .img_info img{*/
    /*display:block;*/
    /*margin:0 auto;*/
    /*cursor: url(../Images/small.cur), auto !important;*/
/*}*/
/*文章*/
#c_left .content_text{width:650px;margin-top:5px;}
#c_left .content_text .wz{width:650px;margin:5px 0px 10px 0px;color:#1D1A1A;}
.wz h3{width:300px;height:30px;overflow:hidden;line-height:30px;font-size:17px;font-weight:500;padding-left:5px;color:#325EBD;}
.wz h3 a{color:#D3535D;}
.wz h3:hover{padding-left:20px; transition: all 0.5s;-webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s;}
.wz dl{width:650px;margin-top:3px;border-bottom: 1px solid #E6E6E6}
.wz dl dt{float:left;width:60px;height:60px;margin-left:10px;margin-right:25px;display:block;border:1px solid #ccc;}
.wz dl dt img{padding:2px;}
.wz dl dd{float:left;width:543px;overflow:hidden;margin-left:5px;}
.wz dl dd.text{border:1px solid #D7EEFB;border-radius: 3px;}
.wz dl dd .dd_text_1{height:80px;display:block;overflow:hidden;}
.wz dl dd .dd_text_2{line-height:30px;margin-top:10px;}
.wz dl dd .dd_text_2 span{padding-left:15px;}
.wz dl dd .dd_text_2 .author{display:block;width:60px;height:30px;
    background:url("../Images/tx.jpg") 5px 7px no-repeat;padding-left:25px;margin-left:45px;}
.wz dl dd .dd_text_2 .sj{display:block;width:53px;height:30px;background:url("../Images/sj.jpg") 5px 7px no-repeat;padding-left:25px;}
.wz dl dd .dd_text_2 .fl{display:block;width:110px;height:30px;text-align:center;}
.wz dl dd .dd_text_2 .fl a{color:#1D1718;}
.wz dl dd .dd_text_2 .yd{display:block;width:110px;height:30px;text-align:center;margin-top:3px;margin-left: 143px;}
.wz dl dd .dd_text_2 .yd a{color:#F55522;display:block;width:80px;height:22px;line-height:22px;
    text-align:center;padding:2px 5px;border:1px solid #AC9696;border-radius:2px;}
.wz dl dd .dd_text_2 .yd a:hover{color:#f36;}
.hidden{display: none}
/*微博操作 评论 删除 转发 收藏 */
#c_left .content_text .wz dl .wb_tool{
    width:640px;
    height:38px;
    line-height:38px;
}
#c_left .content_text .wz dl .wb_tool .send_time{
    color:#75BAE4;
    float: left;
}
#c_left .content_text .wz dl .wb_tool ul{
    height:24px;
    float: right;
}
#c_left .content_text .wz dl .wb_tool ul li{
    padding: 0 5px;
    float:left;
}
#c_left .content_text .wz dl .wb_tool ul li span{
    color:#2B96E1;
    cursor: pointer;
}
#c_left .content_text .wz dl .wb_tool ul .keep-wrap  {
    position: relative;
}
#c_left .content_text .wz dl .wb_tool ul .keep-wrap .keep-up {
    position: absolute;
    width: 80px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border: 1px solid #088CD2;
    border-radius: 4px;
    background: #D7EEFB;
    color: #71CD6A;
    left:-25px;
    top: -30px;
}
#c_left .content_text .wz dl .comment_load{
    width:600px;
    height:60px;
    line-height:60px;
    text-align: center;
    border:1px solid #D7EEFB;
    border-radius: 3px;
    margin-left: 30px;
    position: relative;
}
#c_left .content_text .wz dl .comment_load img{
    position:absolute;
    left:209px;
    top:23px;
}
#c_left .content_text .wz dl .comment_list{
    width:600px;
    height:auto;
    border:1px solid #D7EEFB;
    border-radius: 3px;
    margin-left: 30px;
}
#c_left .content_text .wz dl .comment_list textarea{
    width:573px;
    height: 18px;
    line-height: 18px;
    padding: 5px 4px;
    margin:2px 8px;
    overflow: hidden;
    resize:none;
    border:1px solid #ccc;
    box-shadow: 1px 1px 1px 0 #EAEAEA inset;
    border-radius: 3px;
    word-wrap: break-word;
}
#c_left .content_text .wz dl .comment_list ul{
    width:540px;
    height:10px;
    padding:10px 0;
    margin-bottom: 10px;
    margin-left:35px;
}
#c_left .content_text .wz dl .comment_list .phiz{
    width:15px;
    height:15px;
    background:url(../Images/icon.png) no-repeat -250px 0px;
    margin-top:3px;
    cursor: pointer;
    margin-right: 10px;
}
#c_left .content_text .wz dl .comment_list .comment_turn{
    width:160px;
    height:22px;
    line-height:22px;
}
#c_left .content_text .wz dl .comment_list .comment_turn input{
    width:22px;
    height:22px;
    vertical-align: middle;
}
#c_left .content_text .wz dl .comment_list .comment_btn{
    width:50px;
    height:20px;
    line-height: 20px;
    text-align: center;;
    background: #F9AB00;
    color:#fff;
    border:1px solid #FF9B00;
    border-radius: 3px;
    cursor: pointer;
}
#c_left .content_text .wz dl .comment_list .comment_content{
    width:448px;
    height:auto;
    overflow: hidden;
    padding:20px 0 10px 0;
    border-bottom: 1px solid #D7EEFB;
}
#c_left .content_text .wz dl .comment_list .comment_content dt{
    width:30px;
    height:30px;
    float: left;
}
#c_left .content_text .wz dl .comment_list .comment_content dd{
    width:400px;
    height:auto;
    overflow: hidden;
    line-height:20px;
    word-wrap: break-word;
    float: right;
}
#c_left .content_text .wz dl .comment_list .comment_content dd .reply{
    width:400px;
    height:20px;
    padding: 5px 0;
}
#c_left .content_text .wz dl .comment_list .comment_content dd .reply a{
    display: block;
    width:30px;
    height:20px;
    line-height: 20px;
    text-align: center;
    float: right;
}
#c_left .content_text .wz dl .comment_list .comment-page {
    width : 448px;
    height: auto;
    overflow: hidden;
    border-bottom: 1px solid #D7EEFB;
}
#c_left .content_text .wz dl .comment_list .comment-page dd {
    float: left;
    padding: 5px;
    margin: 5px 10px;
    cursor: pointer;
    border: 1px solid #D7EEFB;
    border-radius: 4px;
    background: #fff;
}
/*转发样式*/
#c_left .content_text .wz dl .wb_turn{
    width:448px;
    height: auto;
    overflow: hidden;
    border:1px solid #D7EEFB;
    border-radius: 3px;
    padding:15px 20px;
    margin:15px 0;
}
#c_left .content_text .wz dl .wb_turn .turn_name{
    width:448px;
    height:20px;
}
#c_left .content_text .wz dl .wb_turn .turn_cons p{
    width:448px;
    line-height: 24px;
    height:auto;
    word-wrap: break-word;
}
#c_left .content_text .wz dl .wb_turn .turn_img{
    width:448px;
    height:auto;
    margin:10px 0;
}
#c_left .content_text .wz dl .wb_turn .turn_img img{
    /*cursor: url(../Images/big.cur), auto !important;*/
}
#c_left .content_text .wz dl .turn_tool{
    width:448px;
    height:24px;
    line-height:24px;
}
#c_left .content_text .wz dl .wb_turn .turn_tool .send_time{
    color:#75BAE4;
    float: left;
}
#c_left .content_text .wz dl .wb_turn .turn_tool ul{
    height:24px;
    float: right;
}
#c_left .content_text .wz dl .wb_turn .turn_tool ul li{
    padding: 0 5px;
    float:left;
}
#c_left .content_text .wz dl .wb_turn .turn_tool ul li a{
    color:#75BAE4;
}
#c_left .content_text .wz dl .turn_img .turn_img_tool{
    width:448px;
    height:auto;
    padding:10px 0;
}
#c_left .content_text .wz dl .turn_img .turn_img_tool ul li{
    padding:5px;
    float: left;
}
#c_left .content_text .wz dl .turn_img .turn_img_tool ul li .packup{
    color:#2B96E1;
    cursor: pointer;
}
#c_left .content_text .wz dl .turn_img .turn_img_tool ul li a{
    color:#2B96E1;
}
#c_left .content_text .wz dl .turn_img .turn_img_info{
    width:448px;
    height:auto;
    overflow: hidden;
}
#c_left .content_text .wz dl .turn_img .turn_img_info img{
    display:block;
    margin:0 auto;
    /*cursor: url(../Images/small.cur), auto !important;*/
}
#page {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

/*左侧end*/

/*content end*/

