@import "common.css";
/*header end*/
#content{width:1000px;margin:5px auto;overflow: hidden;}
#c_left{width:658px; background:#fff;border-radius:1px;}
#c_left .s_tuijian{width:630px;height:68px;margin-left:10px;background:url("../Images/r_line.jpg") bottom left repeat-x;}
.s_tuijian h2{width:630px;height:37px;background:url("../Images/tj.png") no-repeat;padding:20px 0px 5px 60px;
color:#D242DF;font-size:18px;margin-left:5px;}
.s_tuijian h2 span{color:#3798A5;padding-left:3px;font-size: 14px;}
/*left end*/
/********************************中部**************************************/
/*****左侧*****/
#left{
    width:100px;
    padding:20px 0;
    background:#E8E5DD;
    border-right: 2px solid #E2EEF4;
    overflow: hidden;
}
#left .left_nav{
    width:98px;
    height:190px;
}
#left .left_nav li{
    width:129px;
    height:38px;
    overflow: hidden;
    padding-left:10px;
}
#left .left_nav li a{
    display: block;
    height:38px;
    line-height:38px;
    _padding: 12px 0;
    width:129px;
    color:#888888;
    font-size: 14px;
}
#left .left_nav li a i{
    vertical-align: -4px;
}
#left .group{
    width:100%;
    height:auto;
    margin-top:30px;
}
#left .group fieldset{
    border:0;
    border-top:1px solid #D7EEFB;
    padding-left: 15px;
}
#left .group fieldset legend{
    padding:0 5px;
    color:#B8B7B7;
    font-weight: bold;
}
#left .group ul{
    margin:10px 0;
}
#left .group ul li{
    width:88px;
    height:38px;
    overflow: hidden;
    padding-left: 10px;
}
#left .group ul li a{
    display: block;
    height:38px;
    line-height:38px;
    _padding: 12px 0;
    width:129px;
    color:#888888;
    font-size: 13px;
}
#left .group ul li a i{
    vertical-align: -4px;
}
#create_group{
    display: block;
    width:80px;
    margin-left: 20px;
    font-size:12px;
    color:#2B96E1;
    cursor: pointer;
}
/*****创建分组弹出框*****/
#add-group {
    width: 300px;
    height: auto;
    overflow: hidden;
    z-index: 5;
    position: absolute;
    background:#fff;
    border:3px solid #9D9D9D;
    border-radius: 4px;
    display: none;
}
#add-group .group_head{
    width:300px;
    height:29px;
    background: #F6F6F6;
    border-bottom: 1px solid #FF9B00;
}
#add-group .group_head .group_text{
    display:block;
    width:300px;
    height:30px;
    line-height:30px;
    font-weight: bold;
    text-indent: 1em;
    cursor: move;
}
#add-group .group-name {
    width: 260px;
    height: 36px;
    line-height: 36px;
    margin: 20px auto;
    background: #f9f9f9;
    text-align: center;
    border-radius: 2px;
}
#add-group .gp-btn-wrap {
    width: 300px;
    height: 36px;
    line-height: 36px;
    text-align: right;
    margin-bottom: 10px;
}
#add-group .gp-btn-wrap span {
    display: inline-block;
    width: 58px;
    height: 22px;
    line-height: 22px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    margin-right: 10px;
}
#add-group .gp-btn-wrap .add-group-sub {
    background: #F9AB00;
    color: #fff;
    font-weight: bold;
    border:1px solid #FF9B00;
}
#add-group .gp-btn-wrap .group-cencle {
    background: #f6f6f6;
}
/**我的好友*/
.friend {
    width: 650px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}
.friend h3{text-indent: 25px;padding-bottom: 10px;border-bottom:1px #e2e2e2 solid;width: 100%;}
.friend .view_line{
    width:650px;
    height:30px;
    background:url(../Images/line.png) repeat-x 0 28px;
    margin-bottom: 20px;
}
.friend .view_line strong{
    display:inline-block;
    width:44px;
    height:30px;
    line-height:30px;
    text-align: center;
    background: url(../Images/line.png) no-repeat 0 -45px #FAFAFA;
    margin-left: 10px;
}
.friend ul {
    width : 650px;
    height: auto;
    overflow: hidden;
    margin: 5px auto;
}
.friend ul li {
    width: 630px;
    height: 79px;
    padding: 10px;
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 20px;
}
.friend ul li .list-left {
    width: 400px;
    height: 79px;
    float: left;
}
.friend ul li .list-left dt {
    width: 80px;
    height: 80px;
    float: left;
}
.friend ul li .list-left dd {
    width: 280px;
    height: 26px;
    line-height: 26px;
    padding: 0 20px;
    float: left;
}
.friend ul li .list-left dd span {
    padding-right: 10px;
}
.friend ul li .list-left dd .bd-l {
    border-left: 1px solid #ccc;
    padding-left: 5px;
}
.friend ul li .list-right {
    width: 170px;
    height: 59px;
    float: right;
    padding-top: 20px;
}
.friend ul li .list-right dt {
    width: 60px;
    height: 20px;
    line-height:20px;
    text-align: center;
    color: #444444;
    background: #FAFAFA;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    float: left;
    margin: 0 20px;
}
.friend ul li .list-right .add-fl {
    border: 1px solid #FF9B00;
    background: #FFB53F;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
.friend ul li .list-right dd {
    width: 30px;
    height: 20px;
    line-height: 20px;
    float: left;
    margin-left: 15px;
    cursor: pointer;
    color: #088CDB;
}
.friend .more{float: right;padding-right:30px;font-size: 20px;color: #00FFE4;}
/*私信*/
.letter dl {
    width: 520px;
    padding: 20px;
    height: auto;
    overflow: hidden;
    border-bottom: 1px solid #E6E6E6;
}
.letter dt {
    width: 50px;
    height: 80px;
    float: left;
}
.letter dd {
    width: 450px;
    height: auto;
    overflow: hidden;
    line-height: 20px;
    float: left;
    padding-left: 20px;
}
.letter .tright{
    text-align: right;
    margin-top: 20px;
}
.letter .tright span {
    cursor: pointer;
    color: #A2CCEA;
}
.letter .tright .send_time {
    float: left;
}

/*文章*/
#c_left .content_text .comments{width:650px;margin-top:5px;}
#c_left .content_text .comments .info{width:350px;margin:0 auto;heigth:200px;line-height:200px;text-align: center; }
#c_left .content_text .comments .wz{width:650px;margin:5px 0px 10px 0px;color:#1D1A1A;}
.wz h3{width:300px;height:30px;overflow:hidden;line-height:30px;font-size:17px;font-weight:500;padding-left:5px;color:#325EBD;}
.wz h3 a{color:#D3535D;}
.wz h3:hover{padding-left:20px; transition: all 0.5s;-webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s;}
.wz dl{width:650px;margin-top:3px;border-bottom: 1px solid #E6E6E6}
.wz dl dt{float:left;width:60px;height:60px;margin-left:10px;margin-right:25px;display:block;border:none;}
.wz dl dt img{padding:2px;}
.wz dl dd{float:left;width:543px;overflow:hidden;margin-left:5px;}
.wz dl dd.text{border:1px solid #D7EEFB;border-radius: 3px;}
.wz dl dd.text div.a_pic{height: 120px;}
.wz dl dd.text div.a_pic img{margin-left:30px;margin-top:10px;}
.wz dl dd .dd_text_1{height:130px;display:block;overflow:hidden;}
.wz dl dd .dd_text_2{line-height:30px;margin-top:10px;}
.wz dl dd .dd_text_2 span{color: #acacac;display:block;}
.wz dl dd .dd_text_2 span a{color: #acacac;}
.wz dl dd .dd_text_2 .author{width:140px;height:30px;background:url("../Images/tx.jpg") 5px 7px no-repeat;padding-left:25px;margin-left:170px;}
.wz dl dd .dd_text_2 .type{width:160px;height:30px;padding-left:25px;margin-left: 20px;}
.hidden{display: none}
/*微博操作 评论 删除 转发 收藏 */
#c_left .content_text .wz dl .wb_tool{width:640px;height:38px;line-height:38px;}
#c_left .content_text .wz dl .wb_tool span{color:darkgrey;font-size:12px;display:block;float:left;height: 37px;cursor: pointer;}
#c_left .content_text .wz dl .wb_tool span.send_time{width:auto;margin-left:5px;margin-right: 10px;}
#c_left .content_text .wz dl .wb_tool span.see{width:53px;margin-left:5px;}
#c_left .content_text .wz dl .wb_tool span.see_count{width:53px;margin-left:15px;}
#c_left .content_text .wz dl .wb_tool span.keep_time{width:auto;margin-left:15px;}
#c_left .content_text .wz dl .wb_tool span.keep_cancel{width:53px;margin-left:15px;}
#c_left .content_text .wz dl .wb_tool span.comment{width:50px;margin-left:10px;}
#c_left .content_text .wz dl .wb_tool span.alter{width:53px;margin-left:10px;cursor: pointer;}
#c_left .content_text .wz dl .wb_tool span.del_article{width:50px;margin-left:15px;}
#c_left .content_text .wz dl .wb_tool span a{color:darkgrey;}
/*评论预加载样式*/
/*#c_left .content_text .comments .wz dl .comment_load{*/
    /*width:600px;*/
    /*height:60px;*/
    /*line-height:60px;*/
    /*text-align: center;*/
    /*border:1px solid #D7EEFB;*/
    /*border-radius: 3px;*/
    /*margin-left: 30px;*/
    /*position: relative;*/
/*}*/
/*#c_left .content_text .comments .wz dl .comment_load img{*/
    /*position:absolute;*/
    /*left:209px;*/
    /*top:23px;*/
/*}*/
/*评论管理 Manager中的comment*/
/*评论样式*/
#c_left .content_text .comments{width: 97%;padding:10px 10px;height: auto;overflow: hidden;}
#c_left .content_text .comments .info{width: 50%;height:35px;margin: 0 auto;text-align: center;line-height:35px; }
#c_left .content_text .comments .title{font-family:"Microsoft YaHei"; font-size:18px; font-weight:normal; height:40px; line-height:40px; overflow:hidden; border-bottom:1px solid #dcdcdc;margin-bottom:20px;}
#c_left .content_text .comments .userPic{display:block}
#c_left .content_text .comments .userPic img{-webkit-border-radius:100%; -moz-border-radius:100%; -ms-border-radius:100%; -o-border-radius:100%; border-radius:100%}
#c_left .content_text .comments .textarea_comment{width:605px; border:1px solid #dcdcdc; -webkit-border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px; border-radius:5px; color:#ccc; font-size:12px; height:60px; line-height:20px; margin-bottom:10px; padding:10px; overflow:hidden}
#c_left .content_text .comments .btn_p{position:relative}
.btn{-webkit-border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; border-radius:3px; background-color: #cbcbcb; color:#fff; display:inline-block; height:28px; line-height:28px; text-align:center; width:72px; transition:background-color .2s linear 0s; border:0; cursor:pointer}
#c_left .content_text .comments .btn_p .btn_subGrey{-webkit-border-radius:2px; -moz-border-radius:2px; -ms-border-radius:2px; -o-border-radius:2px; border-radius:2px; color:#fff; font-size:14px; height:40px; text-align:center; width:150px; border:0; float:right}
#c_left .content_text .comments .comment_list{border-bottom:1px solid #dcdcdc; margin-bottom:16px; padding-bottom:20px;overflow: hidden;}
#c_left .content_text .comments .comment_list .comment_avatar{font-size:12px; padding-right:16px; position:relative; text-align:center; width:50px; float:left}
#c_left .content_text .comments .comment_list .userPic{height:50px; margin-bottom:4px; width:50px}
#c_left .content_text .comments .grey{color:#999}
#c_left .content_text .comments .comment_conBox{color:#666; float:left; width:540px}
#c_left .content_text .comments .comment_conBox img{position:relative; top:2px}
#c_left .content_text .comments .comment_avatar_time{overflow:hidden; height:26px}
#c_left .content_text .comments .comment_avatar_time .time{float:right; margin-top:2px}
#c_left .content_text .comments .time{color:#999; font-size:12px}
#c_left .content_text .comments .blockquote_wrap{margin-bottom:10px; padding-top:8px}
#c_left .content_text .comments .comment_blockquote{background-color:#f8f8f8; border:1px solid #dcdcdc; margin-top:-1px; padding:15px 19px}
#c_left .content_text .comments .reply_area{display:none;}
#c_left .content_text .comments .reply_area textarea{height:40px; margin:5px 0 12px; padding:5px; width:510px; color:#666}
#c_left .content_text .comments .reply_area .btn{width:70px; height:28px; font-size:12px; line-height:26px}
#c_left .content_text .comments .comment_floor{color:#999; float:right; margin:-14px -12px 0 0}
#c_left .content_text .comments .comment_con{overflow:hidden; padding-right:15px; width:650px}
#c_left .content_text .comments .comment_con p{display:inline; word-break:break-all; word-wrap:break-word}
#c_left .content_text .comments .comment_action{text-align:right; float:right}
#c_left .content_text .comments .comment_action a{color:#999; font-size:12px; padding-left:12px; text-decoration:none;cursor: pointer;}
#c_left .content_text .comments .send_prompt{width:150px;height: 22px;line-height: 22px;text-align: right;margin-bottom: 10px;}
.reply{cursor: pointer;}

#page {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

/*左侧end*/
/*****发送私信弹出框*****/
#letter {
    width: 400px;
    height: auto;
    overflow: hidden;
    z-index: 5;
    position: absolute;
    background:#fff;
    border:3px solid #9D9D9D;
    border-radius: 4px;
    display: none;
}
#letter .letter_head{
    width:400px;
    height:29px;
    background: #F6F6F6;
    border-bottom: 1px solid #FF9B00;
}
#letter .letter_head .letter_text{
    display:block;
    width:400px;
    height:30px;
    line-height:30px;
    font-weight: bold;
    text-indent: 1em;
    cursor: move;
}
#letter .send-user {
    width: 340px;
    height: 36px;
    line-height: 36px;
    margin: 20px auto;
    background: #f9f9f9;
    border-radius: 2px;
    padding-left: 20px;
}
#letter .send-user input {
    width: 120px;
    height: 20px;
    line-height: 20px;
    padding : 2px 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#letter .send-cons {
    width: 320px;
    height: auto;
    overflow: hidden;
    margin: 20px auto;
    background: #f9f9f9;
    border-radius: 2px;
    padding-left: 40px;
}
#letter .send-cons textarea {
    width: 240px;
    height: 80px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize:none;
    padding: 5px;
}
#letter .lt-btn-wrap {
    width: 400px;
    height: 36px;
    line-height: 36px;
    text-align: right;
    margin-bottom: 10px;
}
#letter .lt-btn-wrap span {
    display: inline-block;
    width: 58px;
    height: 22px;
    line-height: 22px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    margin-right: 10px;
}
#letter .lt-btn-wrap .send-lt-sub {
    display: inline-block;
    width: 58px;
    height: 22px;
    line-height: 22px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    margin-right: 10px;
    background: #F9AB00;
    color: #fff;
    font-weight: bold;
    border:1px solid #FF9B00;
}
#letter .lt-btn-wrap .letter-cencle {
    background: #f6f6f6;
}
/*content end*/

