@import "common.css";
#content{width:1000px;margin:5px auto;position: relative;}
#c_left{width:759px; background:#fff;border-radius:1px;}
#c_left .s_tuijian{width:730px;height:68px;margin-left:10px;background:url("../Images/r_line.jpg") bottom left repeat-x;}
.s_tuijian h2{width:666px;height:37px;background:url("../Images/tj.png") no-repeat;padding:20px 0px 5px 60px;
    color:#D242DF;font-size:18px;margin-left:5px;}
.s_tuijian h2 span{color:#3798A5;padding-left:3px;font-size: 14px;}
.weizi{width:759px;height:30px;line-height:30px; background:url("../Images/weizi.png") 7px 5px no-repeat; border-bottom:1px solid #d3e5da;text-indent: 2em;}
.weizi .wz_text h1{font-size:16px;color:#F00E71;display:inline;font-weight:500;}
.weizi .wz_text a{color:#444;}
.weizi .wz_text a:hover{text-decoration:underline;color:#f00;}
/*文章*/
/*#c_left .content_text .comments{width:650px;margin-top:5px;}*/
/*#c_left .content_text .comments .info{width:350px;margin:0 auto;heigth:200px;line-height:200px;text-align: center; }*/
/*#c_left .content_text .comments .wz{width:650px;margin:5px 0px 10px 0px;color:#1D1A1A;}*/
.wz h3{width:300px;height:30px;overflow:hidden;line-height:30px;font-size:17px;font-weight:500;padding-left:5px;color:#325EBD;}
.wz h3 a{color:#D3535D;}
.wz h3:hover{padding-left:20px; transition: all 0.5s;-webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s;}
.wz dl{width:755px;margin-top:3px;border-bottom: 1px solid #E6E6E6}
.wz dl dt{float:left;width:60px;height:60px;margin-left:10px;margin-right:25px;display:block;border:none;}
.wz dl dt img{padding:2px;}
.wz dl dd{float:left;width:623px;overflow:hidden;margin-left:5px;}
.wz dl dd.text{border:1px solid #D7EEFB;border-radius: 3px;}
.wz dl dd.text div.a_pic{height: 120px;}
.wz dl dd.text div.a_pic img{margin-left:30px;margin-top:10px;}
.wz dl dd .dd_text_1{height:100px;display:block;overflow:hidden;}
.wz dl dd .dd_text_2{line-height:30px;margin-top:10px;overflow: hidden;}
.wz dl dd .dd_text_2 span{color: #acacac;display:block;}
.wz dl dd .dd_text_2 span a{color: #acacac;}
.wz dl dd .dd_text_2 .author{width:140px;height:30px;background:url("../Images/tx.jpg") 5px 7px no-repeat;padding-left:25px;margin-left:170px;}
.wz dl dd .dd_text_2 .type{width:160px;height:30px;padding-left:25px;margin-left: 20px;}
.hidden{display: none}
/*微博操作 评论 删除 转发 收藏 */
#c_left .content_text .wz dl .wb_tool{width:640px;height:38px;line-height:38px;}
#c_left .content_text .wz dl .wb_tool span{color:darkgrey;font-size:12px;display:block;float:left;height: 37px;cursor: pointer;}
#c_left .content_text .wz dl .wb_tool span.send_time{width:auto;margin-left:5px;margin-right: 10px;}
#c_left .content_text .wz dl .wb_tool span.see{width:53px;margin-left:5px;}
#c_left .content_text .wz dl .wb_tool span.see_count{width:53px;margin-left:15px;}
#c_left .content_text .wz dl .wb_tool span.keep_time{width:auto;margin-left:15px;}
#c_left .content_text .wz dl .wb_tool span.keep_cancel{width:53px;margin-left:15px;}
#c_left .content_text .wz dl .wb_tool span.comment{width:50px;margin-left:10px;}
#c_left .content_text .wz dl .wb_tool span.alter{width:53px;margin-left:10px;cursor: pointer;}
#c_left .content_text .wz dl .wb_tool span.del_article{width:50px;margin-left:15px;}
#c_left .content_text .wz dl .wb_tool span a{color:darkgrey;}
/*评论预加载样式*/
/*#c_left .content_text .comments .wz dl .comment_load{*/
/*width:600px;*/
/*height:60px;*/
/*line-height:60px;*/
/*text-align: center;*/
/*border:1px solid #D7EEFB;*/
/*border-radius: 3px;*/
/*margin-left: 30px;*/
/*position: relative;*/
/*}*/
/*#c_left .content_text .comments .wz dl .comment_load img{*/
/*position:absolute;*/
/*left:209px;*/
/*top:23px;*/
/*}*/
/*评论管理 Manager中的comment*/
/*评论样式*/
#c_left .content_text .comments{width: 97%;padding:10px 10px;height: auto;overflow: hidden;}
#c_left .content_text .comments .info{width: 50%;height:35px;margin: 0 auto;text-align: center;line-height:35px; }
#c_left .content_text .comments .title{font-family:"Microsoft YaHei"; font-size:18px; font-weight:normal; height:40px; line-height:40px; overflow:hidden; border-bottom:1px solid #dcdcdc;margin-bottom:20px;}
#c_left .content_text .comments .userPic{display:block}
#c_left .content_text .comments .userPic img{-webkit-border-radius:100%; -moz-border-radius:100%; -ms-border-radius:100%; -o-border-radius:100%; border-radius:100%}
#c_left .content_text .comments .textarea_comment{width:605px; border:1px solid #dcdcdc; -webkit-border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px; border-radius:5px; color:#ccc; font-size:12px; height:60px; line-height:20px; margin-bottom:10px; padding:10px; overflow:hidden}
#c_left .content_text .comments .btn_p{position:relative}
/*.btn{-webkit-border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; border-radius:3px; background-color: #cbcbcb; color:#fff; display:inline-block; height:28px; line-height:28px; text-align:center; width:72px; transition:background-color .2s linear 0s; border:0; cursor:pointer}*/
#c_left .content_text .comments .btn_p .btn_subGrey{-webkit-border-radius:2px; -moz-border-radius:2px; -ms-border-radius:2px; -o-border-radius:2px; border-radius:2px; color:#fff; font-size:14px; height:40px; text-align:center; width:150px; border:0; float:right}
#c_left .content_text .comments .comment_list{border-bottom:1px solid #dcdcdc; margin-bottom:16px; padding-bottom:20px;overflow: hidden;}
#c_left .content_text .comments .comment_list .comment_avatar{font-size:12px; padding-right:16px; position:relative; text-align:center; width:50px; float:left}
#c_left .content_text .comments .comment_list .userPic{height:50px; margin-bottom:4px; width:50px}
#c_left .content_text .comments .grey{color:#999}
#c_left .content_text .comments .comment_conBox{color:#666; float:left; width:540px}
#c_left .content_text .comments .comment_conBox img{position:relative; top:2px}
#c_left .content_text .comments .comment_avatar_time{overflow:hidden; height:26px}
#c_left .content_text .comments .comment_avatar_time .time{float:right; margin-top:2px}
#c_left .content_text .comments .time{color:#999; font-size:12px}
#c_left .content_text .comments .blockquote_wrap{margin-bottom:10px; padding-top:8px}
#c_left .content_text .comments .comment_blockquote{background-color:#f8f8f8; border:1px solid #dcdcdc; margin-top:-1px; padding:15px 19px}
#c_left .content_text .comments .reply_area{display:none;}
#c_left .content_text .comments .reply_area textarea{height:40px; margin:5px 0 12px; padding:5px; width:510px; color:#666}
#c_left .content_text .comments .reply_area .btn{width:70px; height:28px; font-size:12px; line-height:26px}
#c_left .content_text .comments .comment_floor{color:#999; float:right; margin:-14px -12px 0 0}
#c_left .content_text .comments .comment_con{overflow:hidden; padding-right:15px; width:650px}
#c_left .content_text .comments .comment_con p{display:inline; word-break:break-all; word-wrap:break-word}
#c_left .content_text .comments .comment_action{text-align:right; float:right}
#c_left .content_text .comments .comment_action a{color:#999; font-size:12px; padding-left:12px; text-decoration:none;cursor: pointer;}
#c_left .content_text .comments .send_prompt{width:150px;height: 22px;line-height: 22px;text-align: right;margin-bottom: 10px;}
.reply{cursor: pointer;}

#page {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

/*about*/
#content #about_me{width:759px;height:auto;background-color:#fff;}
#about_me .about_content{width:738px;height:300px;margin-top:10px;padding:0 10px;}
.ck-slide ul { margin: 0; padding: 0; list-style-type: none;}
.ck-slide { position: relative; overflow: hidden;width:738px;height:352px;margin-top:10px;padding:0 10px;}
.ck-slide ul.ck-slide-wrapper { position: absolute; top: 12px; left: 29px; z-index: 1; margin: 0; padding: 0;}
.ck-slide ul.ck-slide-wrapper li { position: absolute;}
.ck-slide .ck-prev, .ck-slide .ck-next { position: absolute; top: 50%; z-index: 2; width: 35px; height: 70px; margin-top: -35px; border-radius: 3px; opacity: .15; background: red; text-indent: -9999px; background-repeat: no-repeat; transition: opacity .2s linear 0s;}
.ck-slide .ck-prev { left: 30px; background: url(../Images/aboutme/arrow-left.png) #000 50% no-repeat;}
.ck-slide .ck-next { right: 30px; background: url(../Images/aboutme/arrow-right.png) #000 50% no-repeat;}
.ck-slidebox { position: absolute; left: 45%; bottom: 20px; z-index: 30;}
.ck-slidebox ul { height: 20px; padding: 0 4px; border-radius: 8px; background: rgba(0,0,0,0.5);}
.ck-slidebox ul li { float: left; height: 12px; margin: 4px 4px;}
.ck-slidebox ul li em { display: block; width: 12px; height: 12px; border-radius: 100%; background-color: #fff; text-indent: -9999px; cursor: pointer;}
.ck-slidebox ul li.current em { background-color: #fe6500;}
.ck-slidebox ul li em:hover { background-color: #fe6500;}
/*article*/
.clearfix:after{visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0}
#content #news{width:759px;background: #f2f1f4;padding-bottom:-162px;}
#news .news_content{width:738px;margin-top:10px;padding:0 10px;font-size: 16px;height: auto;}
#news .news_content .news_top {width:100%;height:80px;position:relative;}
#news .news_content .news_top h2{color: #3a3a3a;width:360px;height:30px;line-height:30px;text-align:left;font-family: 微软雅黑;float: left;}
#news .news_content .news_top div.a_info{float:left;width: 370px;height:30px;font-size: 14px;color:darkgray;line-height: 42px;overflow: hidden;}
#news .news_content .news_top div.a_info span{margin-left:10px;}
#news .news_content .news_top .news_tool_h{width:100%;height:30px;position:absolute;top:40px;left:0;font-size: 13px;color: #1aacff;line-height: 30px;}
#news .news_content .news_top .news_tool_h ul li{float:left;margin-left: 5px;width:80px;padding:0 5px;border-right:1px gainsboro solid; }
#news .news_content .news_top .news_tool_h ul li.alter{width: 90px;}
#news .news_content .news_top .news_tool_h ul li.delete_a{border: none;}
#news .news_content .news_top .news_tool_h ul li b{width:15px;height:15px;display:inline-block;margin-right: 5px;}
#news .news_content .news_top .news_tool_h ul li.keep b{background: url("../Images/tubiao/star.png") 0px 0px no-repeat; }
#news .news_content .news_top .news_tool_h ul li.comment b{background: url("../Images/tubiao/comments.png") 0px 0px no-repeat;}
#news .news_content .news_top .news_tool_h ul li.turn b{ }
#news .news_content .news_top .news_tool_h ul li.alter b{background: url("../Images/tubiao/reply.png") 0px 0px no-repeat;}
#news .news_content .news_top .news_tool_h ul li.delete_a b{background: url("../Images/tubiao/action_delete.png") 0px 0px no-repeat;}
#news .news_content .news_text{width:710px;height: auto;}
#news .news_content .news_text img{width:500px;float: none;}/* 清除图片浮动*/
#news .news_bottom{width:710px;height:auto;margin-top:5px;}
#news .news_bottom .news_tool_b{width:100%;height:40px;font-size: 13px;color: #1aacff;line-height: 40px;border-bottom:1px gainsboro solid;padding-bottom: 10px; }
#news .news_bottom .news_tool_b ul li{float:left;margin-left: 5px;width:80px;padding:0 5px;border-right:1px gainsboro solid; }
#news .news_bottom .news_tool_b ul li.alter{width: 90px;}
#news .news_bottom .news_tool_b ul li.delete_a{border: none;}
#news .news_bottom .news_tool_b ul li b{width:15px;height:15px;display:inline-block;margin-right: 5px;}
#news .news_bottom .news_tool_b ul li.keep b{background: url("../Images/tubiao/star.png") 0px 0px no-repeat; }
#news .news_bottom .news_tool_b ul li.comment b{background: url("../Images/tubiao/comments.png") 0px 0px no-repeat;}
#news .news_bottom .news_tool_b ul li.turn b{ }
#news .news_bottom .news_tool_b ul li.alter b{background: url("../Images/tubiao/reply.png") 0px 0px no-repeat;}
#news .news_bottom .news_tool_b ul li.delete_a b{background: url("../Images/tubiao/action_delete.png") 0px 0px no-repeat;}
#news .news_bottom .visitor{height:auto;padding:10px 10px;width: 100%;overflow: hidden;border-bottom:1px gainsboro dashed;}  /*这里使用overflow:hidden 可以让父元素不受子元素影响而高度可以自适应 还可以对元素用 clear:both一样的效果*/
#news .news_bottom .visitor_head{height:30px;line-height: 30px;margin-top:10px;}
#news .news_bottom .visitor_head span{font-size: 12px;color:#1aacff; }
#news .news_bottom .visitor_info{margin:5px 0;}
#news .news_bottom .visitor_info ul li{margin:10px 15px;float:left;}
/*评论样式*/
#news .news_bottom .comments{width: 100%;padding:10px 10px;}
#news .news_bottom .comments .info{width: 50%;height:35px;margin: 0 auto;text-align: center;line-height:35px; }
#news .news_bottom .comments .title{font-family:"Microsoft YaHei"; font-size:18px; font-weight:normal; height:40px; line-height:40px; overflow:hidden; border-bottom:1px solid #dcdcdc;margin-bottom:20px;}
#news .news_bottom .comments .num_area{color:#999; font-size:12px; font-weight:normal}
#news .news_bottom .comments .comment_send{font-size:12px; position:relative; padding:20px 0;}
#news .news_bottom .comment_avatar{float:left; width:60px; text-align:center}
#news .news_bottom .userPic{display:block}
#news .news_bottom .comments .comment_send .userPic{height:60px; margin-right:20px; width:60px}
#news .news_bottom .userPic img{-webkit-border-radius:100%; -moz-border-radius:100%; -ms-border-radius:100%; -o-border-radius:100%; border-radius:100%}
#news .news_bottom .textarea_comment{width:605px; border:1px solid #dcdcdc; -webkit-border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px; border-radius:5px; color:#ccc; font-size:12px; height:60px; line-height:20px; margin-bottom:10px; padding:10px; overflow:hidden}
#news .news_bottom .comments .comment_sendPart{padding-left:80px; position:relative}
#news .news_bottom .comments .btn_p{position:relative}
/*.btn{-webkit-border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; border-radius:3px; background-color: #cbcbcb; color:#fff; display:inline-block; height:28px; line-height:28px; text-align:center; width:72px; transition:background-color .2s linear 0s; border:0; cursor:pointer}*/
#news .news_bottom .comment_send .comment_tip{top:36px; position:absolute; right:180px; font-size:12px; height:0; overflow:hidden; color:#f04848}
#news .news_bottom .comment_wrap .comment_tip{top:29px; position:absolute; right:120px; font-size:12px; height:0; overflow:hidden; color:#f04848}
#news .news_bottom .comments span.emotion{background:url("../images/emot.gif") no-repeat scroll 2px 2px; cursor:pointer; height:20px; padding-left:20px; width:42px}/*表情*/
#news .news_bottom span.emotion:hover{background-position:2px -28px}
#news .news_bottom .btn_p .btn_subGrey{-webkit-border-radius:2px; -moz-border-radius:2px; -ms-border-radius:2px; -o-border-radius:2px; border-radius:2px; color:#fff; font-size:14px; height:40px; text-align:center; width:150px; border:0; float:right}
#news .news_bottom .comment_list{border-bottom:1px solid #dcdcdc; margin-bottom:16px; padding-bottom:20px}
#news .news_bottom .comment_list .comment_avatar{font-size:12px; padding-right:16px; position:relative; text-align:center; width:50px; float:left}
#news .news_bottom .comment_list .userPic{height:50px; margin-bottom:4px; width:50px}
#news .news_bottom .grey{color:#999}
#news .news_bottom .comment_conBox{color:#666; float:left; width:620px}
#news .news_bottom .comment_conBox img{position:relative; top:2px}
#news .news_bottom .comment_avatar_time{overflow:hidden; height:26px}
#news .news_bottom .comment_avatar_time .time{float:right; margin-top:2px}
#news .news_bottom .time{color:#999; font-size:12px}
#news .news_bottom .blockquote_wrap{margin-bottom:10px; padding-top:8px}
#news .news_bottom .comment_blockquote{background-color:#f8f8f8; border:1px solid #dcdcdc; margin-top:-1px; padding:15px 19px}
#news .news_bottom .reply_area{display:none;}
#news .news_bottom .reply_area_sub{display:none;}
#news .news_bottom .reply_area textarea{height:40px; margin:5px 0 12px; padding:5px; width:610px; color:#666}
#news .news_bottom .reply_area_sub textarea{height:40px; margin:5px 0 12px; padding:5px; width:570px; color:#666}
#news .news_bottom .reply_area .btn{width:70px; height:28px; font-size:12px; line-height:26px}
#news .news_bottom .reply_area_sub .btn{width:70px; height:28px; font-size:12px; line-height:26px}
#news .news_bottom .comment_floor{color:#999; float:right; margin:-14px -12px 0 0}
#news .news_bottom .comment_action_sub{visibility:hidden; float:right; text-align:right}
#news .news_bottom .comment_con{overflow:hidden; padding-right:15px; width:650px}
#news .news_bottom .comment_con p{display:inline; word-break:break-all; word-wrap:break-word}
#news .news_bottom .comment_action{text-align:right; float:right}
#news .news_bottom .comment_action a,.comment_action_sub a{color:#999; font-size:12px; padding-left:12px; text-decoration:none}
#news .news_bottom .comment_action a,.comment_action_sub a{color:#999; font-size:12px; padding-left:12px; text-decoration:none}
#news .news_bottom .send_prompt{width:150px;height: 22px;line-height: 22px;text-align: right;margin-bottom: 10px;}
.reply{cursor: pointer;}
/*分页样式*/
.comment_wrap .pager{width:100%;overflow: hidden;}
#page{line-height: 40px;text-align: center;margin: 0 auto;overflow: hidden;width:60%;font-size: 12px;height: 40px;}
#page span{width:40px;height: 40px;display: inline-block;cursor: pointer;}
#page .pageRemark{width:55px;}
#page .cur{background-color: #ffb252;}
/*#news .comment_list .comment-page { width : 448px;height: auto;overflow: hidden;border-bottom: 1px solid #D7EEFB;}*/
/*#news .comment_list .comment-page dd {float: left;padding: 5px; margin: 5px 10px; cursor: pointer; border: 1px solid #D7EEFB;border-radius: 4px; background: #fff;}*/









