<include file="Common:header"/>
<title>我的收藏</title>
<meta name="keywords" content="个人博客" />
<meta name="description" content="" />
<link rel="stylesheet" href="__PUBLIC__/Css/nav.css"/>
<link rel="stylesheet" href="__PUBLIC__/Css/index.css"/>
<link rel="stylesheet" href="__PUBLIC__/Css/right.css"/>
<link rel="stylesheet" href="__PUBLIC__/Css/bottom.css"/>
<script type="text/javascript" src="__PUBLIC__/Js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/nav.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/bottom.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/right.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/jNotify.jquery.js"></script>
<script charset="utf-8" src="__PUBLIC__/kindeditor/kindeditor-min.js"></script>
<script charset="utf-8" src="__PUBLIC__/kindeditor/lang/zh_CN.js"></script>
<script type="text/javascript">
    var delFollow="{:U('Common/delFollow')}";
    var keepCancel="{:U('Manager/keepCancel')}";
</script>
<!--[if lt IE 9]>

<![endif]-->

<!--nav start-->
<include file="Common:nav"/>
<!--nav end-->
<!--content start-->
<div id="content" >
    <!--=====左侧=====-->
    <include file='Common:left'/>
    <!--left end -->
    <div class="fleft" id="c_left">
        <div class="s_tuijian">
            <h2><span><if condition='isset($atme)'>@我({$count})<else/>收藏({$count})</if></span></h2>
        </div>
        <div class="content_text">
            <!--wz-->
            <if condition='!$article'>
                <div class="info"> 没有收藏的文章</div>
                <else/>
                <volist name='article' id='v'>
                    <php>extract($v);</php>
                    <!--普通文章模式-->
                    <if condition="!$isturn">
                        <div class="wz">
                            <h3><a href="{:U('User/article',array('id' => $id))}" title="{$title}">{$title}</a></h3>
                            <dl>
                                <dt> <a href="{:U('/Home/'.$uid)}"><img src="<if condition='$face'>__ROOT__/{$face}<else/>__PUBLIC__/Images/noface.gif</if>" width="60"  height="60" alt=""></a></dt>
                                <dd class="text">
                                    <if condition="$src">
                                        <div class="a_pic">
                                            <for start="0" end="count($src)">
                                                <img src="{$src[$i]}" width="100" height="100" />
                                            </for>
                                        </div>
                                    </if>
                                    <p class="dd_text_1">{$content}<a href="{:U('User/article',array('id' => $id))}" title="阅读全文">......</a></p>
                                    <p class="dd_text_2">
                                        <span class="fleft author">{$username}</span>
                                        <span class="fleft type">类别&nbsp;:&nbsp;{$gname}</span>
                                    <div class="clear"></div>
                                    </p>
                                </dd>
                                <!--操作-->
                                <dd class="wb_tool">
                                    <!--发布时间-->
                                    <span class="send_time">{$time|time_format=###}</span>
                                    <span class="see"><a href="{:U('User/article',array('id' => $id))}" title="阅读全文">查看全文</a></span>
                                    <span class="see_count"><a href="{:U('User/article',array('id' => $id))}" title="阅读全文">阅读({$readcount})</a></span>
                                    <span class="comment"><a href="{:U('User/article',array('id' => $id))}" title="评论">评论({$commentcount})</a></span>
                                    <if condition="isset($_SESSION['uid']) && $_SESSION['uid'] == $v['uid'] && !isset($v['kid'])">
                                        <span class="alter" aid="{$id}" gid="{$gid}" uid="{$uid}">修改分类</span>
                                        <span class="del_article" aid="{$id}" uid="{$uid}">删除</span>
                                    </if>
                                    <if condition='isset($v["kid"])'>
                                    <span class="keep_time" >收藏于{$ktime|time_format=###}</span>
                                    <span class="keep_cancel" title="取消收藏" kid="{$kid}" aid="{$id}">取消收藏</span>
                                        <esel />
                                    </if>
                                </dd>
                                <div class="clear"></div>
                            </dl>
                        </div>
                        <else/>
                        <!--wz end-->
                        <!--wz-->
                        <!--转载文章样式-->
                        <div class="wz">
                            <h3><a href="{:U('User/article',array('id' => $id))}" title="{$title}"><strong>【转】</strong>{$title}</a></h3>
                            <dl>
                                <dt> <a href="{:U('/Home/'.$v['uid'])}" target="_Blank"><img src="<if condition='$face'>__ROOT__/{$v.face}<else/>__PUBLIC__/Images/noface.gif</if>" width="60"  height="60" alt=""></a></dt>
                                <dd class="text">
                                    <if condition="$src">
                                        <div class="a_pic">
                                            <for start="0" end="count($src)">
                                                <img src="{$src[$i]}" width="100" height="100" />
                                            </for>
                                        </div>
                                    </if>
                                    <p class="dd_text_1">{$content}<a href="{:U('User/article',array('id' => $id))}" title="阅读全文">......</a></p>
                                    <p class="dd_text_2">
                                        <span class="fleft author">转载自<a href="{:U('/Home/'.$isturn['uid'])}" target="_Blank">{$isturn.username}</a></span>
                                        <span class="fleft type">类别&nbsp;:&nbsp;{$gname}</span>
                                    <div class="clear"></div>
                                    </p>
                                </dd>
                                <!--操作-->
                                <dd class="wb_tool">
                                    <!--发布时间-->
                                    <span class="send_time">{$time|time_format=###}</span>
                                    <span class="see"><a href="{:U('User/article',array('id' => $id))}" title="阅读全文">查看全文</a></span>
                                    <span class="see_count"><a href="{:U('User/article',array('id' => $id))}" title="阅读全文">阅读({$readcount})</a></span>
                                    <span class="comment"><a href="{:U('User/article',array('id' => $id))}" title="评论">评论({$commentcount})</a></span>
                                    <span class="keep_time" >收藏于{$ktime|time_format=###}</span>
                                    <span class="keep_cancel" title="取消收藏" kid="$kid">取消收藏</span>
                                </dd>
                                <div class="clear"></div>
                            </dl>
                        </div>
                    </if>
                </volist>
            </if>
            <!--wz end-->
        </div>
        <div class="page">{$page}</div>
    </div>
    <include file="Common:right" />
    <!--right end-->
    <div class="clear"></div>
</div>
<!--footer start-->
<include file="Common:bottom" />
